body {
    margin: 0; 
    overflow:hidden; 
    background:#87CEEB;
}

canvas {
    display: block;
}

#ui {
  position:fixed; 
  top:10px; 
  left:10px;
  font-family:Arial; 
  font-size: 16px;
  color:black;
}
